Importing basic Libraries

In [1]:
import pandas as pd
import numpy as np

Load Dataset

In [2]:
file_path="/Users/deepikakala/Documents/Projects/ML Project/Titanic Survival/titanicsurvival.csv"
dataset = pd.read_csv(file_path)

In [3]:
print(dataset.head())

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

Summarize Dataset

In [4]:
print(dataset.shape)

(891, 5)

Mapping Text Data to Binary Value

In [5]:
income_set=set(dataset['Sex'])
dataset['Sex']=dataset['Sex'].map({'female':0, 'male': 1}).astype(int)
print(dataset.head)

<bound method NDFrame.head of      Pclass  Sex   Age     Fare  Survived
0         3    1  22.0   7.2500         0
1         1    0  38.0  71.2833         1
2         3    0  26.0   7.9250         1
3         1    0  35.0  53.1000         1
4         3    1  35.0   8.0500         0
..      ...  ...   ...      ...       ...
886       2    1  27.0  13.0000         0
887       1    0  19.0  30.0000         1
888       3    0   NaN  23.4500         0
889       1    1  26.0  30.0000         1
890       3    1  32.0   7.7500         0

[891 rows x 5 columns]>

Segregating the Dataset into X & Y

In [6]:
X=dataset.drop('Survived', axis='columns')
X

     Pclass  Sex   Age     Fare
0         3    1  22.0   7.2500
1         1    0  38.0  71.2833
2         3    0  26.0   7.9250
3         1    0  35.0  53.1000
4         3    1  35.0   8.0500
..      ...  ...   ...      ...
886       2    1  27.0  13.0000
887       1    0  19.0  30.0000
888       3    0   NaN  23.4500
889       1    1  26.0  30.0000
890       3    1  32.0   7.7500

[891 rows x 4 columns]

In [7]:
Y=dataset.Survived
Y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

Finding and Removing  NA values from our Features

In [8]:
X.columns[X.isna().any()]

Index(['Age'], dtype='object')

In [9]:
X.Age = X.Age.fillna(X.Age.mean())

In [10]:
X.columns[X.isna().any()]

Index([], dtype='object')

Splitting the Dataset

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=.25, random_state=0)

In [12]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train, Y_train)

GaussianNB()

Predicting, weather a person survived or not

In [13]:
pclassNo = int(input("Enter Person's Pclass Number:"))
gender = int(input("ENter Person's Gender: 0-female, 1-male:"))
age=int(input("Enter Person's Age:"))
fare = float(input("ENter Person's Fare:"))
person = [[pclassNo, gender, age, fare]]
result = model.predict(person)
print(result)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
if result==1:
    print("Person might be Survived.")
else:
    print("Person might not be Survived.")

Prediction of all test data

In [ ]:
Ypred=model.predict(X_test)
print(np.column_stack((Y_pred, Y_test)))

Accuracy of the Model

In [ ]:
from sklearn.metrics impot accuracy_score
print("Accuracy of the model: {0}%".format(accuracy_score(Y_test, Y_pred)*100))